throttle.max_peers.normal.set        = 50
throttle.max_peers.seed.set          = 50
throttle.max_uploads.global.set      = 8
throttle.max_downloads.global.set    = 250

throttle.global_down.max_rate.set_kb = 5000
throttle.global_up.max_rate.set_kb   = 5000

network.port_range.set               = 7515-7515
network.port_random.set              = no
network.http.ssl_verify_peer.set     = no
network.http.dns_cache_timeout.set   = 25
network.xmlrpc.size_limit.set        = 2M

file.prioritize_toc           = 1
pieces.hash.on_completion.set = no
system.umask.set              = 0027
#system.file.allocate.set      = yes
dht                           = auto
dht_port                      = 7516
protocol.pex.set              = no
protocol.encryption.set       = allow_incoming,try_outgoing,enable_retry
#protocol.encryption.set       = allow_incoming,try_outgoing,require,require_RC4

directory.default.set   = ~/downloads/torrents
session.path.set        = ~/.rtorrent/
#ipv4_filter.load        = ~/.rtorrent/ipfilter, unwanted

# example logging
#log.open_file = "rtorrent.log", (cat,/tmp/rtorrent.log.,(system.pid))
#critical error warn notice info debug
#log.add_output = "info", "rtorrent.log"
#connection_* dht_*" peer_* rpc_* storage_* thread_* tracker_* torrent_*
#log.add_output = "torrent_debug", "tracker.log"
#log.add_output = "tracker_debug", "tracker.log"
#log.open_file = "rtorrent", ~/.rtorrent/logs/rtorrent.log
#log.add_output = "warn", "rtorrent"

schedule = low_diskspace,5,60,close_low_diskspace=200M
schedule = watch_directory,5,5,"load.start=~/downloads/*.torrent,d.delete_tied="

# colours
color_inactive_fg = 3
color_dead_fg = 1
color_active_fg = 7
color_finished_fg = 2
